@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-Medium.woff2') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-Bold.woff2') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: Thiccboi;
  src: url('../public/static/fonts/THICCCBOI-ExtraBold.woff2') format('opentype');
  font-weight: 700;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
